<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>author</key>
		<string>Chris McCormick</string>
		<key>bundleIdentifier</key>
		<string>com.rj.template</string>
		<key>description</key>
		<string>Perform and create bangin' rave tracks, dripping with acid. Spawn an infinite number of acid and breakbeat loops, straight from the ether. Tilt it, tap it, play it like a game. Put it on the speakers and be an instant acid rave star.</string>
		<key>name</key>
		<string>GarageAcidLab</string>
		<key>category</key>
		<string>Move</string>
	</dict>
	<key>installLocation</key>
	<string>GarageAcidLab.rj</string>
</dict>
</plist>
